@charset "UTF-8";
/*
===========base===========
*/
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a, a:link, a:visited {
  color: #222;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

b, strong {
  font-weight: 700;
}

/*
===========header-wrapper===========
*/
.header-wrapper {
  position: relative;
  z-index: 99;
  left: 0;
  right: 0;
}

.top-navigation-wrapper {
  border-color: #eeeeee;
  position: relative;
  z-index: 98;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #bababa;
}

.top-navigation-left {
  float: left;
  margin: 0px;
}

.top-navigation-text {
  font-size: 12px;
  letter-spacing: 1px;
  padding: 14px 0px 13px;
  line-height: 18px;
}
.top-navigation-text a {
  color: #bababa;
  text-decoration: none;
}
.top-navigation-text a:hover {
  color: #72d5cd;
}

.top-navigation-right {
  float: right;
  display: inline-block;
  margin: 0px 20px;
}

.top-social-wrapper {
  padding-top: 11px;
  padding-bottom: 11px;
  float: left;
}
.top-social-wrapper .social-icon {
  max-width: 15px;
  float: none;
  margin-left: 12px;
  display: inline-block;
}
.top-social-wrapper .social-icon :first-child {
  margin-left: 0px;
}
.top-social-wrapper .social-icon a {
  opacity: 0.24;
}
.top-social-wrapper .social-icon a:hover {
  opacity: 1;
}
.top-social-wrapper .social-icon img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.top-signin {
  font-size: 13px;
  float: left;
  padding: 12px 0px 11px 20px;
}
.top-signin i {
  margin-right: 10px;
}
.top-signin a {
  color: #bababa;
  text-decoration: none;
}
.top-signin a:hover {
  color: #72d5cd;
}
.top-signin .separator {
  margin: 0px 10px;
}

.top-signin::before {
  margin-right: 20px;
  content: "ΓÇó";
}

/*
=========menu=============
*/
.navbar-default {
  border-radius: 0px;
  background-color: #ffffff;
}

nav#mainNav {
  border-bottom: 1px solid #eee;
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
  border-radius: 0;
  transition: padding .5s;
}

/*
===========content-wrapper===========
*/
.featured-posts {
  margin-top: 40px;
}
.featured-posts .first .post {
  height: 502px;
}
.featured-posts .post.has-caption .post-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  overflow: hidden;
  padding: 20px;
}
.featured-posts .post.has-caption .post-category {
  margin-bottom: 10px;
}
.featured-posts .post.has-caption .post-category a {
  background-color: #000;
  border-color: #000;
  color: #fff;
  padding: 3px 10px;
  text-transform: uppercase;
}
.featured-posts .post.has-caption .post-title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  color: #fff;
}
.featured-posts .post.has-caption .post-title a {
  color: #fff;
}
.featured-posts .post.has-caption:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: block;
}
.featured-posts .post.has-caption:hover:before {
  background: rgba(0, 0, 0, 0.7);
}
.featured-posts .post {
  display: block;
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0;
  background-size: cover;
  background-position: center;
}
.featured-posts .post .post-category {
  display: block;
  overflow: hidden;
}
.featured-posts .post .post-title {
  margin: 0;
}
.featured-posts .post .post-meta {
  display: block;
  margin-top: 20px;
  overflow: hidden;
}
.featured-posts .post .post-meta li {
  float: left;
  margin-right: 20px;
  font-size: 11px;
  text-transform: uppercase;
}

.row-gallery [class*="col-"], .row-gallery [class^="col-"] {
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

.row.row-gallery {
  padding-left: 15px;
  padding-right: 15px;
}

/*
==============trending-post===============
*/
.trending-post {
  padding-top: 60px;
}
.trending-post .post .post-thumb {
  height: 150px;
}
.trending-post .post .post-thumb img {
  width: 100%;
  height: 150px;
}
.trending-post .post .post-content a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
}

.demo .item {
  margin-bottom: 0px;
}

.content-slider li {
  text-align: center;
  color: #FFF;
}

/*
===============section-area================
*/
section.section-area {
  margin-top: 20px;
}

.blog-layout {
  margin-top: 10px;
}

.blog-layout .post {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.blog-layout .blog-title {
  display: block;
  margin-bottom: 20px;
  padding: 0 0 10px;
  position: relative;
  overflow: hidden;
  clear: both;
}
.blog-layout .blog-title h2 {
  margin: 0;
  font-size: 25px;
  letter-spacing: -.04em;
  text-transform: uppercase;
  letter-spacing: normal;
  background-color: #fff;
  padding-right: 20px;
  display: inline-block;
  position: relative;
  z-index: 2;
  line-height: 1;
}
.blog-layout .blog-title h6 {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 0;
}
.blog-layout .blog-title:before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: #f0f0f0;
  position: absolute;
  top: 10px;
  z-index: 1;
  border-radius: 5px;
}
.blog-layout .blog-wrapper {
  overflow: hidden;
}
.blog-layout .post {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.blog-layout .post .post-thumb {
  overflow: hidden;
  display: block;
}
.blog-layout .post .post-title {
  margin: 0;
}
.blog-layout .post .post-entry {
  letter-spacing: normal;
  color: #434343;
}
.blog-layout .post .post-meta {
  position: relative;
  padding-top: 10px;
  margin-top: 10px;
  overflow: hidden;
  padding-left: 2px;
}
.blog-layout .post .post-meta li {
  font-size: 12px;
  font-weight: 400;
  color: #aaa;
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
}
.blog-layout .post .post-meta:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 1px;
  background-color: #dfdfdf;
}
.blog-layout .post.first .post-thumb {
  height: 318px;
  background-color: #111;
  display: block;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  text-align: center;
}
.blog-layout .post-content h4.post-title {
  font-family: 'Fontawesome','Overpass',sans-serif,arial;
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
.blog-layout .post-content .post-entry {
  padding-bottom: 20px;
}

.post-content .post-title:hover {
  color: red;
}

.blog-layout .post .post-title {
  font-family: 'Fontawesome','Overpass',sans-serif,arial;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  letter-spacing: normal;
}

.blog-layout.layout-2 .post.first .post-thumb {
  height: 230px;
}

.blog-layout.tiny-thumb .post:not(.first) {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.blog-layout.layout-2 .post:not(.first) .post-thumb {
  width: 140px;
  float: left;
  margin: 0;
}
.blog-layout.layout-2 .post:not(.first) .post-content {
  overflow: hidden;
  margin-left: 160px;
}

.blog-layout.layout-3 .post.first {
  overflow: hidden;
}
.blog-layout.layout-3 .post.first .post-thumb {
  height: 195px;
  width: 40%;
  float: left;
  margin: 0;
}
.blog-layout.layout-3 .post.first .post-content {
  width: 60%;
  display: block;
  padding-left: 30px;
  overflow: hidden;
}
.blog-layout.layout-3 .post:not(.first) {
  width: 50%;
  float: left;
}
.blog-layout.layout-3 .post:not(.first) .post-thumb {
  height: 90px;
  width: 140px;
  float: left;
  margin: 0;
}
.blog-layout.layout-3 .post:not(.first) .post-content {
  padding-right: 15px;
  width: auto;
  overflow: hidden;
  margin-left: 160px;
}

/*
================================
=======    post page    ========
================================
*/
.main-area {
  margin-top: 10px;
}

.post-header {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.post-header .post-category {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
}
.post-header .post-category a {
  background-color: #f20e0e;
  border-color: #f20e0e;
  color: #fff;
  padding: 3px 10px;
  float: left;
  margin-right: 5px;
  font-size: 10px;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.post-header .post-title {
  font-size: 27px;
  line-height: 27px;
  letter-spacing: -1.04px;
  margin: 0;
}
.post-header .post-meta {
  border-top: 1px dotted #eee;
  padding-top: 10px;
}
.post-header .post-meta li {
  line-height: 24px;
  float: left;
  margin-right: 20px;
  font-size: 11px;
  text-transform: uppercase;
}
.post-header .post-meta li .avatar {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}
.post-header .post-meta li.right {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.post .post-meta {
  display: block;
  margin-top: 20px;
  overflow: hidden;
}

.post-share {
  display: block;
  overflow: hidden;
  clear: both;
  margin-bottom: 30px;
}
.post-share .counter {
  display: block;
  float: left;
  margin-right: 10px;
  text-transform: uppercase;
  text-align: right;
  color: #aaa;
  font-size: 11px;
}
.post-share .counter strong {
  display: block;
  font-size: 28px;
  line-height: 1;
  color: #121212;
}
.post-share ul li {
  float: left;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #ccc;
  text-align: center;
  margin-right: 5px;
  border-radius: 3px;
}
.post-share ul li a {
  display: block;
  color: #fff;
}
.post-share ul li i {
  font-size: 20px;
  position: relative;
  top: 3px;
}
.post-share ul li.facebook, .post-share ul li.twitter {
  width: auto;
}
.post-share ul li.facebook a, .post-share ul li.twitter a {
  padding: 0 45px;
}
.post-share ul li.facebook i, .post-share ul li.twitter i {
  margin-right: 10px;
}
.post-share ul li.facebook {
  background: #3F51B5;
}
.post-share ul li.twitter {
  background: #03A9F4;
}
.post-share ul li.google-plus {
  background: #F44336;
}
.post-share ul li.linkedin {
  background: #1a7baa;
}
.post-share ul li.whatsapp {
  background: #4CAF50;
}
.post-share ul li:hover {
  -webkit-box-shadow: inset 0 -42px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -42px 0 rgba(0, 0, 0, 0.1);
}

.post .post-thumb {
  overflow: hidden;
  display: block;
}

.post-body {
  display: block;
  position: relative;
  font-size: 15px;
  clear: both;
  border-bottom: 1px dotted #eee;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.post-tags {
  display: block;
  overflow: hidden;
  clear: both;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.post-tags a, .post-tags span {
  display: block;
  float: left;
  background: #eee;
  color: #aaa;
  padding: 0 10px;
  margin-right: 5px;
  text-transform: uppercase;
  height: 20px;
  font-size: 11px;
  line-height: 22px;
}

.post-tags a:hover, .post-tags span {
  background: #111;
  color: #fff !important;
}

.post-navigation {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  border-top: 1px solid #eee;
}

.post-navigation ul li.prev {
  text-align: left;
  padding-right: 30px;
  border-right: 1px solid #eee;
}

.post-navigation ul li.next {
  text-align: right;
  padding-left: 30px;
}

.post-navigation ul li {
  float: left;
  width: 50%;
  padding-top: 30px;
}

.post-navigation ul li span {
  display: block;
  font-size: 12px;
  color: #aaa;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.post-navigation ul li a {
  font-size: 20px;
  line-height: 1;
}

.post-navigation ul li a:hover {
  color: red;
}

.post-related {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

.post-footer .title {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  overflow: hidden;
  clear: both;
}

.post-related .post {
  display: block;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
}

.post-footer .title {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  overflow: hidden;
  clear: both;
}

.post-footer .title:before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: #f0f0f0;
  position: absolute;
  top: 7px;
  z-index: 1;
  border-radius: 5px;
}

.post-footer .title h2 {
  margin: 0;
  font-size: 17px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  background-color: #fff;
  padding-right: 20px;
  display: inline-block;
  position: relative;
  z-index: 2;
  line-height: 1;
  font-weight: 700;
}

.post-related .post .post-thumb {
  height: 145px;
  overflow: hidden;
  margin-bottom: 15px;
}

.post-related .post .post-content {
  overflow: hidden;
}

.post-related .post .post-meta {
  margin-top: 10px;
  color: #aaa;
}

h6.post-title {
  font-size: 14px;
  font-weight: 600;
}

h6.post-title a:hover {
  color: red;
}

.post-author {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  border: 1px solid #eee;
  padding: 30px;
}
.post-author .author-avatar {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.post-author .author-content {
  margin-left: 130px;
  overflow: hidden;
}
.post-author .author-content .name {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px dotted #eee;
  font-weight: 700;
}
.post-author .author-social li {
  float: left;
  margin-right: 10px;
  line-height: 1;
}

/*
==============================
=======    Sidebar    ========
==============================
*/
.widget {
  display: block;
  overflow: hidden;
  margin-bottom: 40px;
  clear: both;
}
.widget .widget-title {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  overflow: hidden;
  clear: both;
}
.widget .widget-title:before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: #f0f0f0;
  position: absolute;
  top: 10px;
  z-index: 1;
  border-radius: 5px;
}
.widget .widget-title h2 {
  margin: 0;
  font-size: 17px;
  letter-spacing: -.02em;
  text-transform: uppercase;
  background-color: #fff;
  padding-right: 20px;
  display: inline-block;
  position: relative;
  z-index: 2;
  line-height: 1;
  font-family: 'Fontawesome','Overpass',sans-serif,arial;
  font-weight: 700;
}
.widget .widget-content {
  display: block;
  position: relative;
  overflow: hidden;
  clear: both;
}

.social-counter a {
  display: block;
  height: 38px;
  line-height: 36px;
  padding: 0;
  text-decoration: none;
  background-color: #b1bec6;
  color: #fff;
  width: 31%;
  float: left;
  margin: 0 8px 10px 0;
  border-radius: 3px;
}
.social-counter a i {
  height: 38px;
  width: 38px;
  font-size: 16px;
  text-align: center;
  margin-right: 15px;
  display: block;
  float: left;
  line-height: 38px;
  background: rgba(255, 255, 255, 0.2);
}
.social-counter a:hover {
  box-shadow: inset 0 -38px 0 rgba(0, 0, 0, 0.05) !important;
  text-decoration: none;
  color: #fff !important;
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -ms-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}
.social-counter a.facebook {
  background-color: #3F51B5;
  border-color: #3F51B5;
  color: #fff;
}
.social-counter a.twitter {
  background-color: #03A9F4;
  border-color: #03A9F4;
  color: #fff;
}
.social-counter a.instagram {
  background-color: #435288;
  border-color: #435288;
  color: #fff;
}
.social-counter a.gplus {
  background-color: #f44336;
  border-color: #f44336;
  color: #fff;
}
.social-counter a.dribbble {
  background-color: #E91E63;
  border-color: #E91E63;
  color: #fff;
}
.social-counter a.snapchat {
  background-color: #FFEB3B;
  border-color: #FFEB3B;
  color: #fff;
}
.social-counter a.snapchat i {
  color: #000;
}

.widget .recent-posts .post .post-thumb {
  overflow: hidden;
  display: block;
  height: 90px;
  width: 140px;
  float: left;
  margin: 0;
  background-color: #111;
}
.widget .post-content {
  overflow: hidden;
  margin-left: 160px;
}
.widget .post-content h6.post-title {
  font-family: 'Fontawesome','Overpass',sans-serif,arial;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}
.widget .post-meta:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 1px;
  background-color: #dfdfdf;
}
.widget .post-meta {
  font-size: 12px;
  font-weight: 400;
  color: #aaa;
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
  position: relative;
  padding-top: 10px;
  margin-top: 10px;
  overflow: hidden;
  padding-left: 1px;
}
.widget .post-meta li {
  font-size: 12px;
  font-weight: 400;
  color: #aaa;
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
}

.recent-posts li.post {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #eee;
}

/*
===========footer-wrapper===========
*/
.footer-wrapper {
  background-color: #101010;
  color: #848484;
}

.footer-wrapper a {
  color: #fff;
}

.footer-wrapper p {
  margin: 15px 0 0;
}

.footer-wrapper .recent-posts li.post .post-title {
  max-height: 40px;
  line-height: 21px;
}

.footer-wrapper .recent-posts li.post .post-title a {
  color: #fff;
}

.footer-wrapper .widget-title:before {
  background: #222;
}

.footer-wrapper .widget-title h2 {
  background: #101010;
  color: #fff;
}

.footer-wrapper .recent-posts li.post {
  border-color: #222;
}

.recent-posts li.post:last-child {
  border: 0;
  margin: 0;
  padding: 0;
}

.footer-wrapper .widget .post-meta:before {
  display: none;
}

.footer-wrapper .recent-posts li.post .post-title {
  max-height: 38px;
  overflow: hidden;
}

.footer-wrapper .list-label-widget-content ul li {
  border-color: #222;
}

.list-label-widget-content ul li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #eee;
  font-style: normal;
  color: #aaa;
}

.list-label-widget-content ul li span {
  font-size: 10px;
  font-style: normal;
  float: right;
}

.list-label-widget-content ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.instagram-feeds img {
  opacity: .9;
}

.instagram-feeds img:hover {
  opacity: 1;
}

.footer-wrapper .follow-by-email-inner {
  background: transparent;
  padding: 0;
}

.follow-by-email-inner {
  display: block;
  overflow: hidden;
  position: relative;
  background: #f8f8f8;
  padding: 30px;
}

.follow-by-email-inner table, .follow-by-email-inner tbody, .follow-by-email-inner tr, .follow-by-email-inner td {
  display: block;
  width: 100%;
}

.footer-wrapper input.follow-by-email-address {
  border: 0;
  background: #222;
  margin-bottom: 0;
  color: #fff;
}

input.follow-by-email-address {
  display: block;
  height: 40px;
  width: 100% !important;
  font-size: 12px;
  background-color: #fff;
  border: 0;
  border: 1px solid #eee;
  letter-spacing: .04em;
  text-align: left;
  outline: 0;
  padding: 0 20px;
  margin-bottom: 10px;
  line-height: 1;
}

.footer-wrapper .follow-by-email-inner td:last-child {
  display: block;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.footer-wrapper input.follow-by-email-submit {
  width: 120px !important;
  background: #222;
  color: #fff;
  border-left: 1px solid #101010;
}

input.follow-by-email-submit {
  display: block;
  height: 40px;
  width: 100% !important;
  background: #26272c;
  color: #fff;
  border: 0;
  font-weight: 800;
  text-transform: uppercase;
}

input.follow-by-email-submit {
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -ms-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}

input.follow-by-email-submit:hover {
  background: #f20e0e;
}

.footer-wrapper .social-icons a {
  border-color: #222;
  margin: 0 10px 10px 0;
}

.social-icons a {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 14px;
  float: left;
  line-height: 47px;
  text-align: center;
  border: 1px solid #eee;
  margin: 0 8px 8px 0;
  transition: .35s;
}

.footer-wrapper .social-icons a:hover {
  background: #222;
  border-color: #222;
}

.social-icons a.facebook:hover,
.footer-wrapper .social-icons a.facebook:hover {
  background-color: #3F51B5;
  border-color: #3F51B5;
}

.social-icons a.twitter:hover,
.footer-wrapper .social-icons a.twitter:hover {
  background-color: #03A9F4;
  border-color: #03A9F4;
}

.social-icons a.google-plus:hover,
.footer-wrapper .social-icons a.google-plus:hover {
  background-color: #f44336;
  border-color: #f44336;
}

.social-icons a.instagram:hover,
.footer-wrapper .social-icons a.instagram:hover {
  background-color: #435288;
  border-color: #435288;
}

.social-icons a.snapchat-ghost:hover,
.footer-wrapper .social-icons a.snapchat-ghost:hover {
  background-color: #FFEB3B;
  border-color: #FFEB3B;
  color: #121212 !important;
}

.social-icons a.dribbble:hover,
.footer-wrapper .social-icons a.dribbble:hover {
  background-color: #E91E63;
  border-color: #E91E63;
}

.social-icons a.vimeo:hover,
.footer-wrapper .social-icons a.vimeo:hover {
  background: #2196F3;
  border-color: #2196F3;
}

.social-icons a.behance:hover,
.footer-wrapper .social-icons a.behance:hover {
  background: #039BE5;
  border-color: #039BE5;
}

.social-icons a.rss:hover,
.footer-wrapper .social-icons a.rss:hover {
  background: #FF9800;
  border-color: #FF9800;
}

.footer-wrapper .footer-columns:last-child:before {
  border-top: 1px solid #222;
  padding-top: 60px;
  margin-top: 20px;
  content: "";
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-content {
  padding-top: 60px;
}

.copyright-wrapper {
  border-style: solid;
  border-color: #3f3f3f;
  border-width: 1px 0 0 0;
  background-color: #0f0f0f;
  color: #828282;
  padding: 15px 0px;
}

.copyright-content {
  font-weight: 700;
}

.copyright-left {
  float: left;
}

.copyright-right {
  float: right;
}

/*========
    totop
==========*/
.totop {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 35px;
  line-height: 30px;
  text-align: center;
  background: #121212;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
}

.totop {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.totop:hover {
  background-color: #f20e0e;
  border-color: #f20e0e;
  color: #fff;
}

/*
===========responsive===========
*/
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 20px 0;
    -webkit-transition: padding .35s;
    -moz-transition: padding .35s;
    transition: padding .35s;
    border: none;
  }
}
@media (max-width: 767px) {
  .blog-layout.layout-1 .post.first .post-thumb {
    height: auto !important;
  }

  .blog-layout.layout-2 .post.first .post-thumb {
    height: auto !important;
  }

  .copyright-left, .copyright-right {
    float: none;
    text-align: center;
    padding: 10px 0;
  }

  .top-navigation-wrapper .col-sm-6 {
    float: none;
    text-align: center;
  }

  .top-navigation-wrapper .top-social-wrapper, .top-navigation-wrapper .top-signin {
    display: inline-block;
  }

  .top-social-wrapper, .top-signin {
    float: none;
  }

  .top-navigation-right {
    float: none;
    text-align: center;
    display: block;
  }

  .top-navigation-left {
    float: none;
    text-align: center;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .post .post-thumb {
    height: auto !important;
  }

  .blog-layout.layout-4 .post:last-child {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .blog-layout .post {
    margin-bottom: 30px;
  }
  .blog-layout .post.first {
    margin-bottom: 30px;
  }

  .post-share ul li.facebook, .post-share ul li.twitter {
    width: 42px;
  }

  .post-share ul li.facebook i, .post-share ul li.twitter i {
    margin: 0;
  }

  .post-share ul li.facebook a, .post-share ul li.twitter a {
    padding: 0;
  }
}
@media (max-width: 730px) {
  .blog-layout.layout-3 .post:not(.first) {
    width: 100%;
  }

  .blog-layout.layout-1 .post {
    margin-bottom: 35px;
  }

  .blog-layout.layout-2 .post:last-child {
    margin-bottom: 35px;
  }

  .post .post-thumb {
    height: auto !important;
  }

  .post-related .post {
    margin-bottom: 30px;
  }
}
@media (max-width: 479px) and (min-width: 320px) {
  .featured-posts .first .post {
    height: 320px;
  }

  .post-share ul li.facebook, .post-share ul li.twitter {
    width: 42px;
  }

  .post-share ul li.facebook i, .post-share ul li.twitter i {
    margin: 0;
  }

  .post-share ul li.facebook a, .post-share ul li.twitter a {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .section-area .main {
    border-right: 1px solid #eee;
  }

  .main-area .main {
    border-right: 1px solid #eee;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .blog-layout.layout-1 .post.first .post-thumb {
    height: 275px;
  }
}
