ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
a, a:link, a:visited {
    color: #222;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}
b, strong {
    font-weight: 700;
}