.featured-posts{
	margin-top: 40px;
	.first{
		.post{
			height: 502px;
		}
	}
	.post.has-caption{
		.post-content{
			position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    color: #fff;
		    overflow: hidden;
		    padding: 20px;
		}
		.post-category{
			margin-bottom: 10px;
			a{
				background-color: #000;
			    border-color: #000;
			    color: #fff;
			    padding: 3px 10px;
			    text-transform: uppercase;
			}
		}
		.post-title{
			text-shadow: 0 0 10px rgba(0,0,0,.2);
		    font-weight: 400;
		    color: #fff;
		    a{
		    	color: #fff;
		    }
		}
	}
	.post.has-caption:before{
		content: "";
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background: rgba(0,0,0,.4);
	    display: block;
	}
	.post.has-caption:hover:before{
		background: rgba(0,0,0,.7);
	}
	.post{
		display: block;
	    position: relative;
	    width: 100%;
	    height: 250px;
	    margin: 0;
	    background-size: cover;
	    background-position: center;
	    .post-category{
	    	display: block;
			overflow: hidden;
	    }
	    .post-title{
	    	margin: 0;
	    }
	    .post-meta{
	    	display: block;
		    margin-top: 20px;
		    overflow: hidden;
		    li{
		    	float: left;
			    margin-right: 20px;
			    font-size: 11px;
			    text-transform: uppercase;
		    }
	    }
	}
}
.row-gallery [class*="col-"], .row-gallery [class^="col-"]{
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
}
.row.row-gallery{
	padding-left: 15px;
	padding-right: 15px;
}

/*
==============trending-post===============
*/
.trending-post{
	padding-top: 60px;
	.post{
		.post-thumb{
			height: 150px;
			img{
				width: 100%;
				height: 150px;
			}
		}
		.post-content{
			a{
				text-decoration: none;
				color: #000;
			}
		}
	}
}
ul{
	list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.demo .item{
    margin-bottom: 0px;
}
.content-slider li{
    text-align: center;
    color: #FFF;
}

/*
===============section-area================
*/
section.section-area{
	margin-top: 20px;
}

.blog-layout{
	margin-top: 10px;
}
.blog-layout .post {
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.blog-layout{
	.blog-title{
		display: block;
	    margin-bottom: 20px;
	    padding: 0 0 10px;
	    position: relative;
	    overflow: hidden;
	    clear: both;
	    h2{
	    	margin: 0;
		    font-size: 25px;
		    letter-spacing: -.04em;
		    text-transform: uppercase;
		    letter-spacing: normal;
		    background-color: #fff;
		    padding-right: 20px;
		    display: inline-block;
		    position: relative;
		    z-index: 2;
		    line-height: 1;
	    }
	    h6{
	    	font-size: 15px;
		    line-height: 1.3;
		    margin-bottom: 0;
		    margin-top: 0;
	    }
	}
	.blog-title:before{
		content: "";
	    display: block;
	    height: 5px;
	    width: 100%;
	    background: #f0f0f0;
	    position: absolute;
	    top: 10px;
	    z-index: 1;
	    border-radius: 5px;
	}
	.blog-wrapper{
		overflow: hidden;
	}
	.post{
		display: block;
	    position: relative;
	    margin-bottom: 20px;
	}
	.post{
		.post-thumb{
			overflow: hidden;
			display: block;
		}
		.post-title{
			margin: 0;
		}
		.post-entry{
			letter-spacing: normal;
			color: #434343;
		}
		.post-meta{
			position: relative;
			padding-top: 10px;
			margin-top: 10px;
			overflow: hidden;
			padding-left: 2px;
			li{
				font-size: 12px; 
				font-weight: 400;
				color: #aaa;
				float: left;
				margin-right: 20px;
				text-transform: uppercase;
			}
		}
		.post-meta:before{
			content: " ";
		    position: absolute;
		    z-index: 1;
		    top: 0;
		    left: 0;
		    display: block;
		    width: 40px;
		    height: 1px;
		    background-color: #dfdfdf;
		}
	}
	.post.first{
		.post-thumb{
			height: 318px;
			background-color: #111;
		    display: block;
		    position: relative;
		    z-index: 1;
		    margin-bottom: 20px;
		    text-align: center;
		}
	}
	.post-content{
		h4.post-title{
			font-family: 'Fontawesome','Overpass',sans-serif,arial;
			font-size: 21px;
			font-weight: 700;
			margin: 0;
			padding: 0;
			padding-bottom: 20px;
		}
		.post-entry{
			padding-bottom: 20px;
		}
	}
}
.post-content{
	.post-title:hover{
		color: red;
	}
}

.blog-layout.layout-1{
}
.blog-layout{
	.post{
		.post-title{
			font-family: 'Fontawesome','Overpass',sans-serif,arial;
		    font-size: 15px;
		    font-weight: 700;
		    margin: 0;
		    padding: 0;
		    padding-top: 10px;
		    letter-spacing: normal;
		}
	}
}

.blog-layout.layout-2{
	.post.first{
		.post-thumb{
			height: 230px;
		}
	}
}
.blog-layout.tiny-thumb .post:not(.first) {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.blog-layout.layout-2{
	.post:not(.first){
		.post-thumb{
			width: 140px;
			float: left;
			margin: 0;
		}
		.post-content{
			overflow: hidden;
			margin-left: 160px;
		}
	}
}

.blog-layout.layout-3{
	.post.first{
		overflow: hidden;
		.post-thumb{
			height: 195px;
			width: 40%;
			float: left;
			margin: 0;
		}
		.post-content{
			width: 60%;
			display: block;
			padding-left: 30px;
			overflow: hidden;
		}
	}
	.post:not(.first){
		width: 50%;
		float: left;
		.post-thumb{
			height: 90px;
		    width: 140px;
		    float: left;
		    margin: 0;
		}
		.post-content{
			padding-right: 15px;
    		width: auto;
    		overflow: hidden;
    		margin-left: 160px;
		}
	}
}

/*
================================
=======    post page    ========
================================
*/
.main-area{
	margin-top: 10px;
}
.post-header {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    .post-category{
    	display: block;
    	margin-bottom: 15px;
    	overflow: hidden;
    	a{
    		background-color: #f20e0e;
		    border-color: #f20e0e;
		    color: #fff;
		    padding: 3px 10px;
		    float: left;
		    margin-right: 5px;
		    font-size: 10px;
		    margin-bottom: 12px;
		    text-transform: uppercase;
		    letter-spacing: 1px;
    	}
    }
    .post-title{
    	font-size: 27px;
	    line-height: 27px;
	    letter-spacing: -1.04px;
	    margin: 0;
    }
    .post-meta{
    	border-top: 1px dotted #eee;
    	padding-top: 10px;
    	li{
    		line-height: 24px;
    		float: left;
		    margin-right: 20px;
		    font-size: 11px;
		    text-transform: uppercase;
		    .avatar{
		    	display: block;
			    width: 24px;
			    height: 24px;
			    float: left;
			    margin-right: 10px;
			    border-radius: 50%;
		    }
    	}
    	li.right{
    		float: right;
		    margin-right: 0;
		    margin-left: 20px;
    	}
    }
}
.post .post-meta {
    display: block;
    margin-top: 20px;
    overflow: hidden;
}
.post-share {
    display: block;
    overflow: hidden;
    clear: both;
    margin-bottom: 30px;
    .counter{
    	display: block;
	    float: left;
	    margin-right: 10px;
	    text-transform: uppercase;
	    text-align: right;
	    color: #aaa;
	    font-size: 11px;
	    strong{
	    	display: block;
		    font-size: 28px;
		    line-height: 1;
		    color: #121212;
	    }
    }
    ul{
    	li{
    		float: left;
		    width: 42px;
		    height: 42px;
		    line-height: 42px;
		    background: #ccc;
		    text-align: center;
		    margin-right: 5px;
		    border-radius: 3px;
		    a{
		    	display: block;
	    		color: #fff;
		    }
		    i{
		    	font-size: 20px;
			    position: relative;
			    top: 3px;
		    }
    	}
    	li.facebook, li.twitter{
    		width: auto;
    	}
    	li.facebook a, li.twitter a{
    		padding: 0 45px;
    	}
    	li.facebook i, li.twitter i{
    		margin-right: 10px;
    	}
    	li.facebook{
    		background: #3F51B5;
    	}
    	li.twitter{
    		background: #03A9F4;
    	}
    	li.google-plus{
    		background: #F44336;
    	}
    	li.linkedin{
    		background: #1a7baa;
    	}
    	li.whatsapp{
    		background: #4CAF50;
    	}
    	li:hover{
    		-webkit-box-shadow: inset 0 -42px 0 rgba(0, 0, 0, .1);
   			box-shadow: inset 0 -42px 0 rgba(0, 0, 0, .1);
    	}
    }
}
.post .post-thumb {
    overflow: hidden;
    display: block;
}
.post-body {
    display: block;
    position: relative;
    font-size: 15px;
    clear: both;
    border-bottom: 1px dotted #eee;
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}
.post-tags {
    display: block;
    overflow: hidden;
    clear: both;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.post-tags a, .post-tags span {
    display: block;
    float: left;
    background: #eee;
    color: #aaa;
    padding: 0 10px;
    margin-right: 5px;
    text-transform: uppercase;
    height: 20px;
    font-size: 11px;
    line-height: 22px;
}
.post-tags a:hover, .post-tags span {
    background: #111;
    color: #fff!important;
}
.post-navigation {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
    border-top: 1px solid #eee;
}
.post-navigation ul li.prev {
    text-align: left;
    padding-right: 30px;
    border-right: 1px solid #eee;
}
.post-navigation ul li.next {
    text-align: right;
    padding-left: 30px;
}
.post-navigation ul li {
    float: left;
    width: 50%;
    padding-top: 30px;
}
.post-navigation ul li span {
    display: block;
    font-size: 12px;
    color: #aaa;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.post-navigation ul li a {
    font-size: 20px;
    line-height: 1;
}
.post-navigation ul li a:hover{
	color: red;
}
.post-related {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
}
.post-footer .title {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    overflow: hidden;
    clear: both;
}
.post-related .post {
    display: block;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
}
.post-footer .title {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    overflow: hidden;
    clear: both;
}
.post-footer .title:before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background: #f0f0f0;
    position: absolute;
    top: 7px;
    z-index: 1;
    border-radius: 5px;
}
.post-footer .title h2 {
    margin: 0;
    font-size: 17px;
    letter-spacing: -.02em;
    text-transform: uppercase;
    background-color: #fff;
    padding-right: 20px;
    display: inline-block;
    position: relative;
    z-index: 2;
    line-height: 1;
    font-weight: 700;
}
.post-related .post .post-thumb {
    height: 145px;
    overflow: hidden;
    margin-bottom: 15px;
}
.post-related .post .post-content {
    overflow: hidden;
}
.post-related .post .post-meta {
    margin-top: 10px;
    color: #aaa;
}
h6.post-title {
    font-size: 14px;
    font-weight: 600;
}
h6.post-title a:hover{
    color: red;
}
.post-author {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
    border: 1px solid #eee;
    padding: 30px;
    .author-avatar{
    	float: left;
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	    overflow: hidden;
    }
    .author-content{
    	margin-left: 130px;
    	overflow: hidden;
    	.name{
    		display: block;
		    padding-bottom: 10px;
		    border-bottom: 1px dotted #eee;
		    font-weight: 700;
    	}
    }
    .author-social{
    	li{
    		float: left;
		    margin-right: 10px;
		    line-height: 1;
    	}
    }
}


/*
==============================
=======    Sidebar    ========
==============================
*/
.widget {
    display: block;
    overflow: hidden;
    margin-bottom: 40px;
    clear: both;
    .widget-title {
	    display: block;
	    margin-bottom: 20px;
	    padding: 0;
	    position: relative;
	    overflow: hidden;
	    clear: both;
	}
	.widget-title:before{
		content: "";
	    display: block;
	    height: 5px;
	    width: 100%;
	    background: #f0f0f0;
	    position: absolute;
	    top: 10px;
	    z-index: 1;
	    border-radius: 5px;
	}
	.widget-title h2 {
	    margin: 0;
	    font-size: 17px;
	    letter-spacing: -.02em;
	    text-transform: uppercase;
	    background-color: #fff;
	    padding-right: 20px;
	    display: inline-block;
	    position: relative;
	    z-index: 2;
	    line-height: 1;
	    font-family: 'Fontawesome','Overpass',sans-serif,arial;
    	font-weight: 700;
	}
	.widget-content {
	    display: block;
	    position: relative;
	    overflow: hidden;
	    clear: both;
	}
}
.social-counter{
	a{
		display: block;
	    height: 38px;
	    line-height: 36px;
	    padding: 0;
	    text-decoration: none;
	    background-color: #b1bec6;
	    color: #fff;
	    width: 31%;
	    float: left;
	    margin: 0 8px 10px 0;
	    border-radius: 3px;
	    i{
	    	height: 38px;
		    width: 38px;
		    font-size: 16px;
		    text-align: center;
		    margin-right: 15px;
		    display: block;
		    float: left;
		    line-height: 38px;
		    background: rgba(255,255,255,.2);
	    }
	}
	a:hover{
		box-shadow: inset 0 -38px 0 rgba(0,0,0,.05)!important;
    	text-decoration: none;
    	color: #fff!important;
    	-webkit-transition: .35s;
	    -moz-transition: .35s;
	    -ms-transition: .35s;
	    -o-transition: .35s;
	    transition: .35s;
	}
	a.facebook{
		background-color: #3F51B5;
		border-color: #3F51B5;
		color: #fff;
	}
	a.twitter{
		background-color: #03A9F4;
		border-color: #03A9F4;
		color: #fff;
	}
	a.instagram{
		background-color: #435288;
		border-color: #435288;
		color: #fff;
	}
	a.gplus{
		background-color: #f44336;
		border-color: #f44336;
		color: #fff;
	}
	a.dribbble{
		background-color: #E91E63;
		border-color: #E91E63;
		color: #fff;
	}
	a.snapchat{
		background-color: #FFEB3B;
		border-color: #FFEB3B;
		color: #fff;
		i{
			color: #000;
		}
	}
}


.widget{
	.recent-posts{
		.post{
			.post-thumb{
				overflow: hidden;
				display:block;
				height: 90px;
			    width: 140px;
			    float: left;
			    margin: 0;
			    background-color: #111;
			}
		}
	}
	.post-content{
		overflow: hidden;
		margin-left: 160px;
		h6.post-title{
			font-family: 'Fontawesome','Overpass',sans-serif,arial;
			font-size: 14px;
			font-weight: 700;
			margin: 0;
			padding: 0;
			letter-spacing: normal;
		}
	}
	.post-meta:before{
		content: " ";
	    position: absolute;
	    z-index: 1;
	    top: 0;
	    left: 0;
	    display: block;
	    width: 25px;
	    height: 1px;
	    background-color: #dfdfdf;
	}
	.post-meta{
		font-size: 12px;
	    font-weight: 400;
	    color: #aaa;
	    float: left;
	    margin-right: 20px;
	    text-transform: uppercase;
	    position: relative;
	    padding-top: 10px;
	    margin-top: 10px;
	    overflow: hidden;
	    padding-left: 1px;
	    li{
	    	font-size: 12px;
		    font-weight: 400;
		    color: #aaa;
		    float: left;
		    margin-right: 20px;
		    text-transform: uppercase;
	    }
	}
}
.recent-posts{
	li.post{
		display: block;
		overflow: hidden;
	    margin-bottom: 10px;
	    padding-bottom: 10px;
	    border-bottom: 1px dotted #eee;
	}
}