.footer-wrapper {
    background-color: #101010;
    color: #848484;
    a{
        color: #fff;
    }
    p{
        margin: 15px 0 0;
    }
    .recent-posts{
        li.post{
            border-color: #222;
            .post-title{
                max-height: 40px;
                line-height: 21px;
                a{
                    color: #fff;
                }
            }
        }
    }
    .widget-title:before{
        background: #222;
    }
    .widget-title{
        .widget-title{
            h2{
                background: #101010;
                color: #fff;
            }
        }
    }
}
.recent-posts li.post:last-child {
    border: 0;
    margin: 0;
    padding: 0;
}
.footer-wrapper .widget .post-meta:before{
    display: none;
}
.footer-wrapper .recent-posts li.post .post-title {
    max-height: 38px;
    overflow: hidden;
}
.footer-wrapper .list-label-widget-content ul li {
    border-color: #222;
}
.list-label-widget-content ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #eee;
    font-style: normal;
    color: #aaa;
}
.list-label-widget-content ul li span {
    font-size: 10px;
    font-style: normal;
    float: right;
}
.list-label-widget-content ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.instagram-feeds img {
    opacity: .9;
}
.instagram-feeds img:hover{
    opacity: 1;
}

.footer-wrapper .follow-by-email-inner {
    background: transparent;
    padding: 0;
}
.follow-by-email-inner {
    display: block;
    overflow: hidden;
    position: relative;
    background: #f8f8f8;
    padding: 30px;
}
.follow-by-email-inner table, .follow-by-email-inner tbody, .follow-by-email-inner tr, .follow-by-email-inner td {
    display: block;
    width: 100%;
}
.footer-wrapper input.follow-by-email-address {
    border: 0;
    background: #222;
    margin-bottom: 0;
    color: #fff;
}
input.follow-by-email-address {
    display: block;
    height: 40px;
    width: 100%!important;
    font-size: 12px;
    background-color: #fff;
    border: 0;
    border: 1px solid #eee;
    letter-spacing: .04em;
    text-align: left;
    outline: 0;
    padding: 0 20px;
    margin-bottom: 10px;
    line-height: 1;
}
.footer-wrapper .follow-by-email-inner td:last-child {
    display: block;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
}
.footer-wrapper input.follow-by-email-submit {
    width: 120px!important;
    background: #222;
    color: #fff;
    border-left: 1px solid #101010;
}
input.follow-by-email-submit {
    display: block;
    height: 40px;
    width: 100%!important;
    background: #26272c;
    color: #fff;
    border: 0;
    font-weight: 800;
    text-transform: uppercase;
}
input.follow-by-email-submit {
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
input.follow-by-email-submit:hover {
    background: #f20e0e;
}
.footer-wrapper .social-icons a {
    border-color: #222;
    margin: 0 10px 10px 0;
}
.social-icons a {
    display: block;
    width: 48px;
    height: 48px;
    font-size: 14px;
    float: left;
    line-height: 47px;
    text-align: center;
    border: 1px solid #eee;
    margin: 0 8px 8px 0;
    transition: .35s;
}
.footer-wrapper .social-icons a:hover {
    background: #222;
    border-color: #222
}
.social-icons a.facebook:hover,
.footer-wrapper .social-icons a.facebook:hover {
    background-color: #3F51B5;
    border-color: #3F51B5
}
.social-icons a.twitter:hover,
.footer-wrapper .social-icons a.twitter:hover {
    background-color: #03A9F4;
    border-color: #03A9F4
}
.social-icons a.google-plus:hover,
.footer-wrapper .social-icons a.google-plus:hover {
    background-color: #f44336;
    border-color: #f44336
}
.social-icons a.instagram:hover,
.footer-wrapper .social-icons a.instagram:hover {
    background-color: #435288;
    border-color: #435288
}
.social-icons a.snapchat-ghost:hover,
.footer-wrapper .social-icons a.snapchat-ghost:hover {
    background-color: #FFEB3B;
    border-color: #FFEB3B;
    color: #121212!important
}
.social-icons a.dribbble:hover,
.footer-wrapper .social-icons a.dribbble:hover {
    background-color: #E91E63;
    border-color: #E91E63
}
.social-icons a.vimeo:hover,
.footer-wrapper .social-icons a.vimeo:hover {
    background: #2196F3;
    border-color: #2196F3
}
.social-icons a.behance:hover,
.footer-wrapper .social-icons a.behance:hover {
    background: #039BE5;
    border-color: #039BE5
}
.social-icons a.rss:hover,
.footer-wrapper .social-icons a.rss:hover {
    background: #FF9800;
    border-color: #FF9800
}
.footer-wrapper .footer-columns:last-child:before {
    border-top: 1px solid #222;
    padding-top: 60px;
    margin-top: 20px;
    content: "";
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.footer-content {
    padding-top: 60px;
}
.copyright-wrapper {
    border-style: solid;
    border-color: #3f3f3f;
    border-width: 1px 0 0 0;
    background-color: #0f0f0f;
    color: #828282;
    padding: 15px 0px;
}
.copyright-content {
    font-weight: 700;
}
.copyright-left{
    float: left;
}
.copyright-right{
    float: right;
}

/*========
    totop
==========*/

.totop{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 35px;
    line-height: 30px;
    text-align: center;
    background: #121212;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
}
.totop {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05)
}
.totop:hover {
    background-color: #f20e0e;
    border-color: #f20e0e;
    color: #fff
}
