
.header-wrapper{
	position: relative;
	z-index: 99;
	left: 0;
	right: 0;
}

.top-navigation-wrapper{
	border-color: #eeeeee;
	position: relative;
	z-index: 98;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	color: #bababa;
}
.top-navigation-left{
	float: left;
	margin: 0px;
}

.top-navigation-text{
	font-size: 12px;
    letter-spacing: 1px;
    padding: 14px 0px 13px;
    line-height: 18px;
    a{
    	color: #bababa;
    	text-decoration: none;
    }
    a:hover{
    	color: #72d5cd;
    }
}

.top-navigation-right{
	float: right;
	display: inline-block;
	margin: 0px 20px;
}

.top-social-wrapper{
	padding-top: 11px;
	padding-bottom: 11px;
	float: left;
	.social-icon{
		max-width: 15px;
		float: none;
		margin-left: 12px;
		display: inline-block;
		:first-child{
			margin-left: 0px;
		}
		a{
			opacity: 0.24;
		}
		a:hover{
			opacity: 1;
		}
		img{
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}
}

.top-signin{
    font-size: 13px;
	float: left;
    padding: 12px 0px 11px 20px;
    i{
    	margin-right: 10px;
    }
    a{
    	color: #bababa;
    	text-decoration: none;
    }
    a:hover{
    	color: #72d5cd;
    }
    .separator{
    	margin: 0px 10px;
    }
}
.top-signin::before{
	margin-right: 20px;
    content: "•";
}
/*
=========menu=============
*/
.navbar-default{
	border-radius: 0px;
	background-color: #ffffff;
}
nav#mainNav {
    border-bottom: 1px solid #eee;
}
.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    border-radius: 0;
    transition: padding .5s;
}