@media (min-width: 768px){
	.navbar-custom {
	    background-color: transparent;
	    padding: 20px 0;
	    -webkit-transition: padding .35s;
	    -moz-transition: padding .35s;
	    transition: padding .35s;
	    border: none;
	}
}
@media (max-width: 767px){
	.blog-layout.layout-1 .post.first .post-thumb {
	    height: auto!important;
	}
	.blog-layout.layout-2 .post.first .post-thumb{
		height: auto!important;
	}
	.copyright-left,.copyright-right{
		float: none;
		text-align: center;
		padding: 10px 0;
	}
	.top-navigation-wrapper .col-sm-6{
		float: none;
		text-align: center;
	}
	.top-navigation-wrapper .top-social-wrapper, .top-navigation-wrapper .top-signin{
		display: inline-block;
	}
	.top-social-wrapper, .top-signin{
		float: none;
	}
	.top-navigation-right {
	    float: none;
	    text-align: center;
	    display: block;
	}
	.top-navigation-left {
	    float: none;
	    text-align: center;
	}

}
@media (max-width: 767px) and (min-width: 480px){
	.post .post-thumb {
	    height: auto!important;
	}
	.blog-layout.layout-4 .post:last-child {
	    margin-bottom: 15px;
	    padding-bottom: 15px;
	}
	.blog-layout {
		.post{
			margin-bottom: 30px;
		}
		.post.first{
			margin-bottom: 30px;
		}
	}
	.post-share ul li.facebook, .post-share ul li.twitter {
	    width: 42px;
	}
	.post-share ul li.facebook i, .post-share ul li.twitter i {
	    margin: 0;
	}
	.post-share ul li.facebook a, .post-share ul li.twitter a {
	    padding: 0;
	}
}
@media (max-width: 730px){
	.blog-layout.layout-3 .post:not(.first){
		width: 100%;
	}
	.blog-layout.layout-1 .post{
		margin-bottom: 35px;
	}
	.blog-layout.layout-2 .post:last-child {
	    margin-bottom: 35px;
	}
	.post .post-thumb {
	    height: auto!important;
	}
	.post-related .post {
	    margin-bottom: 30px;
	}
}
@media (max-width: 479px) and (min-width: 320px){
	.featured-posts .first .post{
	    height: 320px;
	}
	.post-share ul li.facebook, .post-share ul li.twitter {
	    width: 42px;
	}
	.post-share ul li.facebook i, .post-share ul li.twitter i {
	    margin: 0;
	}
	.post-share ul li.facebook a, .post-share ul li.twitter a {
	    padding: 0;
	}
}
@media (min-width: 1200px){
	.section-area .main {
	    border-right: 1px solid #eee;
	}
	.main-area .main{
		border-right: 1px solid #eee;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	.blog-layout.layout-1 .post.first .post-thumb {
	    height: 275px;
	}
}